/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

*{
  font-family: 'Pridi', serif;
}
html body{
    width: 100%;
    margin: 0% 0% 0% 0%;
}


/* CSS - Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #3755F1;
  padding: 10px;
  transition: top 0.3s ease-in-out; 
  display: block;
  /* Adicionamos uma transição suave para uma animação agradável */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

#tryling {
    color: rgba(255, 138, 0, 0.73);
    text-align: left  ;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sen', sans-serif;
    font-size: 2.7vh;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-left: 2%;

}

.navigation ul {
    margin-left: 30px;
    list-style: none;
    display: flex;
    gap: 35px;
}

.navigation li {
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.scroll-hide {
    top: -100px; /* Deslocar o cabeçalho para cima para escondê-lo */
}

/*CSS - MAIN */
#container-1 {
    
    height: 90vh;
    background: linear-gradient(360deg, rgba(255, 138, 0, 0.73) 0%, rgba(255, 131, 0, 0.47) 6.77%, rgba(80, 98, 194, 0.69) 40.66%, rgba(0, 40, 251, 0.88) 100%);
}

#container-1 #slogan-principal {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Pridi', serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0%;
    margin-right: 4%;
    padding-top: 9vh;

}
#container-1 .text-box1 {
    margin-left: 10%;
    margin-right: 10%;
    color: #FFF;
    text-align: center;
    font-family: 'Pridi', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    padding-bottom: 0%;
}

#img-world {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#img-world img {
    width: 100%;
    height: 50%;
    object-fit: cover; 

}   

#button-cad {
    position: absolute; 
    top: 7vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 16px;
    background: rgba(255, 140, 8, 0.911);
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20vh;
    height: 12h;
    cursor: pointer;
    text-decoration: none; 
    
}

#button-cad span {
    color: #000;
    text-align: center;
    font-family: Pridi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#button-log {
    position: absolute;
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 16px;
    background: #647bff;
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20vh;
    height: 8vh;
    cursor: pointer; 
    text-decoration: none;
}

#button-log span {
    color: #000000;
    text-align: center;
    font-family: Pridi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-display: flex;
    text-align: center;

}

#nacional-imgs {
    width: 100%;
    height: 40vh;
    background-color: #f5f5f5;

}

#nacional-imgs  h2 {
    color: #1E1E1E;
    text-align: center;
    font-family: Pridi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0%;
    margin-bottom: 0%;
}

#nacional-imgs .img-flag {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

#container-2{
    width: 100%;
    height: 140vh;

}

#container-2 #text-box2 p {
    color: #000;
    text-align: center;
    font-family: Pridi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-2 #img-2 {
    background-color: #EEE;
    text-align: center;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-2 #text-box3 p {
    color: #000;
    text-align: center;
    font-family: Pridi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* CSS - Cadastro */

#container-cadastro {
    background: linear-gradient(360deg, rgba(255, 138, 0, 0.73) 0%, rgba(255, 131, 0, 0.47) 6.77%, rgba(80, 98, 194, 0.69) 40.66%, rgba(0, 40, 251, 0.88) 100%);
    width: 100%;
    height: 60vh;
    gap: 20px;
   

}

.cadastro {
    margin-top: 2vh;
    width: 80%;

}

.cadastro label {
    justify-content: center;
}

#container-cadastro .cadastro-slogan {
    display: flex;
    color: rgb(12, 8, 8);
    font-family: sen;
    font-size: 24px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    padding-top: 6vh;
    justify-content: center;
    text-align: center ;
 }

 .list-cad {
    margin-top: 1vh;
    list-style: none;
 }
.formtext{
    color: #000;
    font-family: Pridi;
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
}           


 .bot-cad{
    position: initial; 
    top: 7vh;
    left: 50%;
    padding: 10px 20px;
    border-radius: 16px;
    background:  rgba(255, 140, 8, 0.911);
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20vh;
    height: 12h;
    cursor: pointer;
    text-decoration: none; 
    margin-top: 2.5vh;
    font-family: sen;
    font-size: 24px;


}
@media screen and (max-width: 768px) {
    .formtext{
        font-size: medium;
    }
    .bot-cad{
    
    font-size: medium;
    }
}

@media screen and (max-width: 426px){
    .list-cad{
        font-size: medium;
    }

    .bot-cad{
       
        font-size: 12px;;
        }   	

}


/* CSS - LOGIN */

#container-login{
    width: 100%;
    height: 60vh;
    gap: 20px;
    background: linear-gradient(360deg, rgba(255, 138, 0, 0.73) 0%, rgba(255, 131, 0, 0.47) 6.77%, rgba(80, 98, 194, 0.69) 40.66%, rgba(0, 40, 251, 0.88) 100%);

}

.login{
    margin-top: 2vh;
    width: 80%;

}
 #container-login .login-slogan {
    display: flex;
    color: rgb(12, 8, 8);
    font-family: sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 6vh;
    justify-content: center;
    text-align: center ;
 }
.list-log{
    margin-top: 1vh;
    list-style: none;
 }
.bot-log{
    position: initial; 
    top: 7vh;
    left: 50%;
    padding: 10px 20px;
    border-radius: 16px;
    background: rgba(255, 140, 8, 0.911);
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20vh;
    height: 12h;
    cursor: pointer;
    text-decoration: none; 
    margin-left: 5vh;
    font-family: sen;
    font-size: 24px;


    /* background-color: rgba(255, 132, 2, 0.92);
    fill: rgba(255, 132, 2, 0.92);
    border-radius: 40%;
    color: #000;
    width: 18vh;
    height: 6vh;
    font-family: sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 5vh;    */
}
#email {
    width: 100%;
}
#nome {
    width: 100%;
}
#senha{
    width: 100%;

}
 /* PLANOS DE CURSO */

#container-5 {
    background: linear-gradient(360deg, rgba(255, 138, 0, 0.73) 0%, rgba(255, 131, 0, 0.47) 6.77%, rgba(80, 98, 194, 0.69) 40.66%, rgba(0, 40, 251, 0.88) 100%);
    height: 120vh;
    width: 100%;
}
#container-5 h2 {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Pridi', serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0%;
    margin-right: 4%;
    padding: 9vh;

}
 
#plano-br{
    padding: 10rem;
    margin: 10rem;
    display: flex;

}

#plano-eua{
    padding: 10rem;
    margin: 10rem;
    display: flex;
}
.botao{
  align-items: a;
}

 /* FOOTER */
 footer {
    width: 100%;
    color: var(--color-neutral-40);
    letter-spacing: 1px;
    padding: 0;
    box-sizing: border-box;
    
 }

 :root{
    --color-neutral-0: #0c0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
 }

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    gap: 20px;
} 
#footer_contacts h1 {
   margin-bottom: 0.75rem;
   color: rgba(255, 138, 0, 0.73);

}
#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%; 
    transition: all 0.4s;
}

.footer-link .footer-list a{
  text-decoration: none;
  
} 

#footer_social_media .footer-link:hover {
    opacity: 0.8; 
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;

}

#instagram {
   background:linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#discord  {
    background-color: #4267b3;
}
#whatsapp {
    background-color: #25d366;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-decoration: none;
}

footer ul {
    list-style: none;
    text-decoration: none;  
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    text-decoration: none;
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}
#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p {
    color: var(--color-neutral-30);
}
#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}
#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
} 

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
@media screen and (max-width: 768px) {
      #footer_content {
          grid-template-columns: repeat(2,1fr);
          gap: 2rem;
      }
    }
@media screen and (max-width: 426px) {
      #footer_content {
          grid-template-columns: repeat(1,1fr);
          padding: 3rem 2rem;
      }
    }
